@using BoutiquePresentsWorkshop.Models;
@model IEnumerable<Products>
@{
    ViewData["Title"] = "Index";
}

<br /><br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Списък с продукти</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; Добавяне на нов продукт</a>
    </div>

</div>
<br />
<div>
    <table class="table table-striped border" id="myTable">
        <thead>
        <tr class="table-info">
            <th>
                Наименование
            </th>
            <th>
                Цена
            </th>
            <th>
                Описание
            </th>
            <th>
                Наличен
            </th>
            <th>
                Категория
            </th>
            <th>
                Изработка
            </th>
            <th></th>
            <th></th>
        </tr>
        </thead>
       
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@item.Description</td>
                    <td>@item.IsAvailable</td>
                    <td>@item.ProductTypes.ProductType</td>
                    <td>@item.SpecialTag.Name</td>
                    <td>
                        <partial name="_ButtonPartial" model="@item.Id" />
                    </td>
                </tr>
            }
        </tbody>


</table>
</div>

@section scripts{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js"></script>
    
    <script type="text/javascript">
        $(document).ready( function () {
            $('#myTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'pageLength','copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        } );
        $(function(){
            var save = '@TempData["save"]'
            if(save!='') {
                alertify.success(save);
            }
            var edit = '@TempData["edit"]'
            if(edit!='') {
                alertify.success(edit);
            }
            var del = '@TempData["delete"]'
            if (del!='') {
                alertify.error(del);
            }
        })
    </script>
}



