@model BPW.Data.Entities.CategoryVM 
    @{
        ViewData["Title"] = "Index";
    }

    <br /><br />
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Списък с категории</h2>
        </div>
        <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="bi bi-plus-lg"></i>&nbsp; Нова категория</a>
        </div>
    </div>
    <br />
    <div>
        <table class="table table-striped border">
            <tr class="table-info">
                <th>
                    @Html.DisplayNameFor(c => c.categories)
                </th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var item in Model.categories)
            {
                <tr>
                    <td>@item.CategoryName</td>
                    <td>
                    <partial name="_ButtonPartial" model="@item.Id" />
                    </td>
                </tr>
            }
        </table>
    </div>

@section scripts {
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript">
        $(function () {

            var save = '@TempData["save"]'
            if (save != '') {
                alertify.success(save);
            }
            var edit = '@TempData["edit"]'
            if (edit != '') {
                alertify.success(edit);
            }
            var dele = '@TempData["delete"]'
            if (dele != '') {
                alertify.error(dele);
            }
        })
    </script>
}
